<h2>Meus Alunos</h2>
<ul class="alunos">
  <li *ngFor="let aluno of alunos"
    [class.selected]="aluno === selectedAluno"
    (click)="onSelect(aluno)">
    <span class="badge">{{aluno.id}}</span> {{aluno.nome}}
  </li>
</ul>

<div *ngIf="selectedAluno">

  <h2>{{selectedAluno.nome | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedAluno.id}}</div>
  <div><span>periodo:  </span>{{selectedAluno.periodo}}</div>
  <div>
    <label for="aluno-name">Nome do Aluno: </label>
    <input id="aluno-name" [(ngModel)]="selectedAluno.nome" placeholder="Nome">
  </div>

</div>